.main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.button {
  padding: 0.7em 1.5em;
  background-color: #2f0079;
  outline: none;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}