.tp-view {
  height: 100vh;
  background-color: #10161e;
  display: flex;
  justify-content: center;

}

.tp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1em;
  text-align: center;
  margin: 3em 0em;
}

.tp-container header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.tp-title {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.tp-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2em
}

.tp-text {
  color: white;
  font-size: large;
}

.cancel-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: large;
}

.cancel-button:hover {
  cursor: pointer;
}
.icon.bulb {
  margin-right: 0.5em;
  fill: #f9c851;
}